<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Clientes</title>
</head>

<body>

    
    {% if formulario.errors %}
    <p style="color: red;"> Inconveniente con tu carga de cliente! </p>
    {% endif %}
        


    <form action="/appagcelulares/clientesform/" method="POST"> 
        {% csrf_token %}

        <table>
            {{formulario}}
        </table>
        <input type="submit" value="Dar Alta">
    </form>

    
</body>
</html>